{% macro pic_path(pic) %}
	{{ url_for('return_pic', filename='%s' % pic) }}
{% endmacro %}

{% extends "base.html" %}
{% block title %}
Open Source Image Sharer
{% endblock %}
{% block content %}
	<div class="row" style="padding: 20px">
	{% if filename is defined %}
		<div class="col-md-12" style="margin:auto">
			<a href="{{ pic_path(filename) }}" target="_blank"><img style="border: 1px solid grey; padding: 30px; border-radius:7px" class="center-block" src="{{ pic_path(filename) }}"></a>
		</div>
		<br/>
	{% endif %}
	</div>
	<div class="row">
	{% for pic in pics %}
		<div class="col-md-3" style="margin-top:20px"><a href="{{ url_for('show_pic', filename=pic) }}"><img style="border: 1px solid grey; padding: 30px; border-radius:7px" class="thumb" src="{{ pic_path('thumb_'+pic) }}"></a></div>
	{% endfor %}
	</div>
{% endblock %}